.container{
    display: flex;
    justify-content: center;

    
}

.wrapper-change-password{
    width: 80%;
    height: 500px;
    border-radius: 10px;
    margin-top: 30px;
    background-color: white;
}

.title{
    width: 95%;
    text-align: left;
    padding: 20px;
    border-bottom: black solid 1px;
    color: green;
}


